.labelAnchor, .commentAnchor {
    font-size: 15px;
    color: #000;
    padding: 3px;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 rgba(27,31,35,.12);
    border-radius: 3px;
}


.labelContainer{
    height: 35px;
    display: flex;
    align-items: center;
}

.list-item-container{
    width: 100%;
    display: grid;
    grid-template-columns: min-content minmax(min-content,max-content) min-content auto 50px;
    grid-column-gap: 5px;
    align-items: center;
    border: 1px solid #eee;
    padding: 0 10px;
}

.issue-title {
    color: black;
    text-decoration: none;
}
.issue-title:hover {
    color: blue;
}
.issue-title h2{
    font-weight: 600;
    font-size: 20px;
}

.issue-comment {
    background: none;
    border: none;
    cursor: pointer;
    grid-column-start: 5;
}

.list-item-container:hover{
    background-color: #eee;
}

.issue-details {
    grid-column-start: 2;
    color: grey;
    font-size: 15px;
}

.issueComment{
    background: #d3d3d340;
    padding: 10px;
    margin-bottom: 10px;
}