.label-container {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, max-content);
    column-gap: 3px;
    height: 100%;
}

.label{
    height: 35px;
    display: flex;
    align-items: center;
}

.label__anchor, .comment__anchor {
    font-size: 15px;
    color: #000;
    padding: 3px;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 rgba(27,31,35,.12);
    border-radius: 3px;
}


.issue-list-item{
    width: 100%;
    display: grid;
    grid-template-columns: min-content minmax(min-content,max-content) min-content auto 50px;
    grid-column-gap: 5px;
    align-items: center;
    border: 1px solid #eee;
    padding: 0 10px;
}

.issue-list-item:first-of-type{
    border-top: 70px solid #eee;
}


.list-item-container:hover{
    background-color: #eee;
}

.issue-list-item__title {
    color: black;
    text-decoration: none;
}
.issue-list-item__title:hover {
    color: blue;
}
.issue-list-item__title h2{
    font-weight: 600;
    font-size: 20px;
}

.issue-list-item__comment {
    background: none;
    border: none;
    cursor: pointer;
    grid-column-start: 5;
}

.issue-list-item__details {
    grid-column-start: 2;
    color: grey;
    font-size: 15px;
}




.pagination {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.pagination__item {
    border: 1px solid #eee !important;
    padding: 5px 10px;
    color: #0366d6;
    font-weight: bold;
    border: 0;
    background: transparent;
    outline: none;
    text-decoration: none;
}

.pagination__item:hover {
    background-color: #eee;
    cursor: pointer;
}

.pagination__item--active {
    color: white;
    background-color: #0366d6;
}
